/* Tile Styles */
body div.red {
    background-color: red;
}
body div.orange {
    background-color: orange;
}
body div.yellow {
    background-color: yellow;
}
body div.green {
    background-color: green;
}
body div.blue {
    background-color: blue;
}
body div.purple {
    background-color: purple;
}

/* Layout styles */
body {
    --selected: inset 2px 2px 2px 2px black;

    display: flex;
}

.selected {
    box-shadow: var(--selected);
}

.left-panel {
    height: 100%;
    width: 300px;
    overflow-y: scroll;
}

.left-panel div {
    height: 100px;
    width: 100px;
}

.left-panel div:hover {
    box-shadow: var(--selected);
}

.tile-container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.row div {
    height: 50px;
    width: 50px;
    background-color: #CCC;
}

.row div:hover {
    box-shadow: var(--selected);
}